header {
    border: 1px solid palevioletred;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

.disabled {
    color: gray;
}  

a .disabled {
    color: darkorchid;
}

.active {
    color: yellow;
}

.parent div:first-child {
    color: red;
}

.parent div:nth-child(3) {
    color: blue;
}

.parent div:first-of-type + h4 {
    background-color: red;
  }

  .parent div:nth-of-type(2) + h4 {
    background-color: blue;
  }

  .promo {
    font-weight: bold;
    color: gold;
  }

  input:valid {
      height: 25px;
  }